
<header class="header background-image">
  <div class="jumbotron" layout="column" layout-padding layout-align="center center">
    <h1 class="headline">{{"headline.title" | translate}}</h1>
    <p class="lead">
      {{"headline.description" | translate}}
    </p>
  </div>
</header>

<section id="what_is" layout="column" class="section-padding">
  <div class="row-space-6" layout="row">
    <div flex="66" flex-offset="15" layout="column" class="text-center">
      <h1 class="page-header">
        {{"what.title" | translate}}
      </h1>
      <p class="description">{{"what.description" | translate}}</p>
    </div>
  </div>
  <div layout-xs="column" layout="row" layout-padding class="features text-center">
    <div flex class="feature">
      <md-icon md-font-library="material-icons" class="icon-big md-accent" alt="Feature">favorite</md-icon>
      <h3 class="title">{{"what.item1.title" | translate}}</h3>
      <p class="description md-body-1">{{"what.item1.description" | translate}}</p>
    </div>

    <div flex class="feature">
      <md-icon md-font-library="material-icons" class="icon-big md-accent" alt="Feature">group</md-icon>
      <h3 class="title">{{"what.item2.title" | translate}}</h3>
      <p class="description md-body-1">{{"what.item2.description" | translate}}</p>
    </div>

    <div flex class="feature">
      <md-icon md-font-library="material-icons" class="icon-big md-accent" alt="Feature">security</md-icon>
      <h3 class="title">{{"what.item3.title" | translate}}</h3>
      <p class="description md-body-1">{{"what.item3.description" | translate}}</p>
    </div>

    <div flex class="feature">
      <md-icon md-font-library="material-icons" class="icon-big md-accent" alt="Feature">sync</md-icon>
      <h3 class="title">{{"what.item4.title" | translate}}</h3>
      <p class="description md-body-1">{{"what.item4.description" | translate}}</p>
    </div>
  </div>
</section>

<section layout="row" layout-padding class="section-padding bg-blue">
  <div flex="66" flex-offset="15" layout="column" class="text-center">
    <h1>{{"belief.title" | translate}}</h1>
  </div>
</section>

<section id="how_it_works" layout="column" class="section-padding">
  <div class="text-center">
    <h1 class="page-header">
      {{"howItWorks.title" | translate}}
    </h1>
    <p>{{"howItWorks.description" | translate}}</p>
  </div>
  <div layout-xs="column" layout="row" layout-padding class="text-center">
    <div flex>
      <md-icon md-font-library="material-icons" class="icon-big md-accent" alt="Feature">explore</md-icon>
      <h3 class="title">{{"howItWorks.item1.title" | translate}}</h3>
      <p class="description md-body-1">{{"howItWorks.item1.description" | translate}}</p>
    </div>

    <div flex>
      <md-icon md-font-library="material-icons" class="icon-big md-accent" alt="Feature">event</md-icon>
      <h3 class="title">{{"howItWorks.item2.title" | translate}}</h3>
      <p class="description md-body-1">{{"howItWorks.item2.description" | translate}}</p>
    </div>

    <div flex>
      <md-icon md-font-library="material-icons" class="icon-big md-accent" alt="Feature">directions_run</md-icon>
      <h3 class="title">{{"howItWorks.item3.title" | translate}}</h3>
      <p class="description md-body-1">{{"howItWorks.item3.description" | translate}}</p>
    </div>

    <div flex>
      <md-icon md-font-library="material-icons" class="icon-big md-accent" alt="Feature">tag_faces</md-icon>
      <h3 class="title">{{"howItWorks.item4.title" | translate}}</h3>
      <p class="description md-body-1">{{"howItWorks.item4.description" | translate}}</p>
    </div>
  </div>
</section>

<section id="adventurers" layout="column" class="section-padding bg-lightgray" layout-padding layout-align="center center">
  <div class="row-space-2">
    <h1 class="page-header">
      {{"adventurers.title" | translate}}
    </h1>
  </div>
  <div layout-xs="column" layout="row" layout-padding>
    <div flex layout="column" class="features">
      <md-list>
        <md-list-item class="md-2-line">
          <md-icon md-font-library="material-icons" class="md-avatar icon-medium md-accent" alt="Feature">flight_takeoff</md-icon>
          <div class="md-list-item-text">
            <h3>{{"adventurers.item1.title" | translate}}</h3>
            <p>{{"adventurers.item1.description" | translate}}</p>
          </div>
        </md-list-item>

        <md-list-item class="md-2-line">
          <md-icon md-font-library="material-icons" class="md-avatar icon-medium md-accent" alt="Feature">public</md-icon>
          <div class="md-list-item-text">
            <h3>{{"adventurers.item2.title" | translate}}</h3>
            <p>{{"adventurers.item2.description" | translate}}</p>
          </div>
        </md-list-item>

        <md-list-item class="md-2-line">
          <md-icon md-font-library="material-icons" class="md-avatar icon-medium md-accent" alt="Feature">directions_bike</md-icon>
          <div class="md-list-item-text">
            <h3>{{"adventurers.item3.title" | translate}}</h3>
            <p>{{"adventurers.item3.description" | translate}}</p>
          </div>
        </md-list-item>

        <md-list-item class="md-2-line">
          <md-icon md-font-library="material-icons" class="md-avatar icon-medium md-accent" alt="Feature">fingerprint</md-icon>
          <div class="md-list-item-text">
            <h3>{{"adventurers.item4.title" | translate}}</h3>
            <p>{{"adventurers.item4.description" | translate}}</p>
          </div>
        </md-list-item>
      </md-list>
    </div>
    <div flex>
      <form name="adventurersForm" ng-submit="" layout="column" md-whiteframe="1" class="md-padding bg-white"
        aria-label="Adventurers Form" novalidate>
        <div>
          <h3 class="title text-center">{{"adventurers.form.title" | translate}}</h3>
          <p class="description text-center">{{"adventurers.form.description" | translate}}</p>
        </div>
        <md-input-container>
          <label>{{"adventurers.form.name" | translate}}</label>
          <input ng-model="vm.adventurer.name">
        </md-input-container>
        <md-input-container>
          <label>{{"adventurers.form.email" | translate}}</label>
          <input type="email" ng-model="vm.adventurer.email">
        </md-input-container>
        <md-button type="submit" class="md-raised md-primary">{{"adventurers.form.button" | translate}}</md-button>
      </form>
    </div>
  </div>
</section>

<section id="providers" layout="column" class="section-padding" layout-padding layout-align="center center">
  <div>
    <h1 class="page-header text-center">
      {{"providers.title" | translate}}
    </h1>
    <p class="description text-center">{{"providers.description" | translate}}</p>
  </div>
  <div layout-xs="column" layout="row" layout-padding class="features text-center">
    <div flex class="feature">
      <md-icon md-font-library="material-icons" class="icon-big md-accent" alt="Feature">money_off</md-icon>
      <h3 class="title">{{"providers.item1.title" | translate}}</h3>
      <p class="description md-body-1">{{"providers.item1.description" | translate}}</p>
    </div>

    <div flex class="feature">
      <md-icon md-font-library="material-icons" class="icon-big md-accent" alt="Feature">person_add</md-icon>
      <h3 class="title">{{"providers.item2.title" | translate}}</h3>
      <p class="description md-body-1">{{"providers.item2.description" | translate}}</p>
    </div>

    <div flex class="feature">
      <md-icon md-font-library="material-icons" class="icon-big md-accent" alt="Feature">dvr</md-icon>
      <h3 class="title">{{"providers.item3.title" | translate}}</h3>
      <p class="description md-body-1">{{"providers.item3.description" | translate}}</p>
    </div>

    <div flex class="feature">
      <md-icon md-font-library="material-icons" class="icon-big md-accent" alt="Feature">supervisor_account</md-icon>
      <h3 class="title">{{"providers.item4.title" | translate}}</h3>
      <p class="description md-body-1">{{"providers.item4.description" | translate}}</p>
    </div>
  </div>
  <div layout="row" layout-align="center center" layout-fill flex="1">
    <form name="providersForm" ng-submit="" layout="column" flex-xs="100" flex-sm="70" flex="50" 
      layout-margin aria-label="Providers Form" novalidate>
      <div>
        <h3 class="title text-center">{{"providers.form.title" | translate}}</h3>
      </div>
      <div layout="row" layout-xs="column" layout-wrap>
        <md-input-container class="md-block" flex="50" flex-xs="100">
          <label>{{"providers.form.firstName" | translate}}</label>
          <input ng-model="vm.provider.firstName">
        </md-input-container>
        <md-input-container class="md-block" flex="50" flex-xs="100">
          <label>{{"providers.form.lastName" | translate}}</label>
          <input ng-model="vm.provider.lastName">
        </md-input-container>
        <md-input-container class="md-block" flex="50" flex-xs="100">
          <label>{{"providers.form.phone" | translate}}</label>
          <input type="tel" ng-model="vm.provider.phone">
        </md-input-container>
        <md-input-container class="md-block" flex="50" flex-xs="100">
          <label>{{"providers.form.city" | translate}}</label>
          <input ng-model="vm.provider.city">
        </md-input-container>
      </div>
      <md-input-container>
        <label>{{"providers.form.email" | translate}}</label>
        <input type="email" ng-model="vm.provider.email">
      </md-input-container>
      <md-button type="submit" class="md-raised md-primary">{{"providers.form.button" | translate}}</md-button>
    </form>
  </div>
</section>

<!-- <section class="newsletter section-padding bg-lightgray" layout="column" layout-padding layout-align="center center">
  <div>
    <h1 class="page-header">
      {{"newsletter.title" | translate}}
    </h1>
  </div>
  <div layout="row" layout-align="center center" layout-fill>
    <form ng-submit="" layout="column" flex flex-gt-sm="70" layout-margin name="newsForm" 
      aria-label="Newsletter Form" novalidate>
      <div layout="row" layout-align="center center">
        <md-input-container flex>
          <label>{{"newsletter.email" | translate}}</label>
          <input ng-model="vm.newsletter.email">
        </md-input-container>
        <md-button type="submit" class="md-raised md-primary" flex="30">{{"newsletter.subscribe" | translate}}</md-button>
      </div>
    </form>
  </div>
</section> -->

